*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-promocao p{
    text-align: center;
    background-color:#005CFF;
    width: 100%;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family:"Nunito Sans", sans-serif;;
}

#valor-desconto-background{
    background-color:#6220C1;
    border-radius: 5px;
    padding: 3px;
}

#nome-desconto-background{
    font-weight: 400;
}

.home-menu{
    max-width: 1920px;
    width: 100%;
    height: 118px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.header-principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeira-secao, .segunda-secao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.primeira-secao{
    gap: 50px;
    margin-left: 120px;
}

.segunda-secao{
    gap: 20px;
}

.campo-busca{
    display: flex;
    align-items: center;
    width: 100%;
}

#input-busca{
    width: 540px;
    height: 40px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 12px;
    outline: none;
    padding-left: 20px;
    flex: 1;
}

#input-busca::placeholder{
   color: #000000;
   font-weight: 600;
   font-size: 14px;
   font-family:"Nunito Sans", sans-serif;
}

#icone-busca{
    width: 18px;
    height: 18px;
    margin-left: -40px;
}

.menu-cliente{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#nome-cliente{
    color: black;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    font-family:"Nunito Sans", sans-serif;
   line-height: 1;
   flex-direction: column;
}

#nome-cliente::after {
    content: "\A Nome Cliente!";
    white-space: pre;
    margin-top: -15px;
}

.carrinho-compras img {
   cursor: pointer;
}

#quantidades-compras{
    background-color: #005CFF;
    border-radius: 50%;
    text-align: center;
    padding:6px;
    color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    width: 100%;
    font-size: 12px;
    z-index: 10000;
    cursor: pointer;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

#icone-menu{
   padding-right: 5px;
}

.lista-menu{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
}

.lista-menu li{
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    font-family:"Nunito Sans", sans-serif;
}

#todas-categorias{
    font-weight: 700;
    font-size: 14px;
    font-family:"Nunito Sans", sans-serif;
}

#icone-departamento{
   display: flex;
   align-items: center;
   gap: 20px;
}

.container-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    display: none;
    margin-left: 240px;
}

#todas-categorias:hover,#departamento-dropdown:hover{
    color: #005CFF;
}

#icone-menu:hover{
    color: #005CFF;
}


.dropdown-menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    width: 1200px;
    height: 329px;
}

#img-dropdown{
    width: 256px;
    height: 298px;
    border-radius: 10px;
    margin-right: 20px;
}

.img-dropdown{
    background-image: url('../img/imgDropdown.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 256px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    filter: brightness(95%); 
   
}

.img-dropdown::after{
   
}

.valores-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#texto-img{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.7;
    font-family:"Nunito Sans", sans-serif;
    margin-left: 30px;
}

#botao-img{
    width: 116px;
    height: 38px;
    border: 1px  solid #FFFFFF;
    border-radius: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #ffffff00;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 10px;
}

.menu-principal-dropdown{
    background-color: #F5F5F5;
    height: 326px;
    width: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    gap: -150px;   
}

.dropdown-menu ul li{
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family:"Nunito Sans", sans-serif;
}


#icone-departamento{
    color: #303030;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 120px;
    margin-right: 20px;
}


#categoria-menu{
    font-weight: 400;
    font-size: 14px;
    font-family:"Nunito Sans", sans-serif;
    color: #656565;
    text-align: center;
}
