* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container-header{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10001;
    background-color: #ffffff;
}

.header-promocao p {
    text-align: center;
    background-color: #005CFF;
    width: 100%;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

#valor-desconto-background {
    background-color: #6220C1;
    border-radius: 5px;
    padding: 3px;
}

#nome-desconto-background {
    font-weight: 400;
}

.home-menu {
    max-width: 1920px;
    width: 100%;
    height: 118px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    z-index: 10001;
}

.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeira-secao,
.segunda-secao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.primeira-secao {
    gap: 50px;
    margin-left: 120px;
}

.segunda-secao {
    gap: 20px;
}

.campo-busca {
    display: flex;
    align-items: center;
    width: 100%;
}

#input-busca {
    width: 540px;
    height: 40px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 12px;
    outline: none;
    padding-left: 20px;
    flex: 1;
}

#input-busca::placeholder {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

#icone-busca {
    width: 18px;
    height: 18px;
    margin-left: -40px;
}

.menu-cliente {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#nome-cliente {
    color: black;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1;
    flex-direction: column;
}

#nome-cliente::after {
    content: "\A Nome Cliente!";
    white-space: pre;
    margin-top: -15px;
}

.carrinho-compras img {
    cursor: pointer;
}

#quantidades-compras {
    background-color: #005CFF;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    width: 100%;
    font-size: 12px;
    z-index: 10000;
    cursor: pointer;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

#icone-menu {
    padding-right: 5px;
}

.lista-menu {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.lista-menu li {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
}

#todas-categorias {
    font-weight: 700;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

.container-dropdown {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2px;
    width: max-content;
    left: 85%;
    transform: translateX(-85%); 
    z-index: 10001;
    position: absolute;
    background-color: #FFFFFF;
}

#todas-categorias:hover,
#departamento-dropdown:hover {
    color: #005CFF;
}

#icone-menu:hover {
    color: #005CFF;
}

.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    width: 1160px;
    height: 340px;
    column-gap: 50px;
}

.h5-tabelas-categorias {
    font-weight: 700;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    padding-left: 25px;
}

.img-dropdown {
    background-image: url('../img/caneca.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 256px;
    height: 320px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 5px;
}

.valores-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.h5-tabelas-categorias {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    display: none;
}

#texto-img {
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 30px;
}

#botao-img {
    width: 116px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #ffffff00;
    cursor: pointer;
    margin-right: 90px;
    margin-top: 5px;
}

.menu-principal-dropdown {
    background-color: #F5F5F5;
    height: 100%;
    width: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: -150px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #CECECE;
}

.menu-principal-dropdown li:last-child {
    display: none;
}

.dropdown-menu ul li {
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
}

#icone-departamento {
    color: #303030;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 120px;
    margin-right: 20px;
}

#categoria-menu {
    font-weight: 400;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    color: #656565;
    text-align: center;
    line-height: 0.8;
}

.container-banner-propaganda{
    width: 100%;
    height: 510px;
    background-color: #E6E7E9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagem-banner{
    width: 685px;
    height: 510px;
}

.frases-banner{
    font-size: 90px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    margin-right: 100px;
}

#p-editado{
    font-size: 90px;
    font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
}

.desconto-banner{
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    color: #005CFF;
    text-align: center;
    text-transform: uppercase;
}

#valor-desconto{  
    font-size: 50px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}

.card{
    width: 238px;
    height: 429px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
   
}

#card-novo{
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    width: 41px;
    height: 22px;
    position: relative;
    background-color: #00264E;
    border-radius: 8px;
    padding: 5px;
}

.test{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.texto-card h3{
    font-size: 12px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.4;
}

.valores-card{
   text-align: left;
   margin-left: 10px;
   margin-top: 10px;
}

#valor-card-cheio{
    font-size: 12px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    color: #303030;
    text-decoration: line-through;
}

.promocao-card{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5px;
}

.valor-card-promocao{
  position: relative;
  top: -10px;
}

#valor-com-desconto{
    font-size: 14px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    color: black;
}

#p-parcelamento{
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 20px;
}

#span-parcelamento{
    font-size: 12px;
    color: black;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}

#valor-card-promocao-p{
    width: 64px;
    height: 20px;
    background-color: #5EC0BE; 
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border-radius: 4px; 
    display: inline-block;  
    text-decoration: underline;
}

#botao-card{
    width: 220px;
    height: 40px;
    display: inline-block;
    color: #ffffff;
    background-color: #005CFF;
    margin-left: -10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;   
}

.container-carrossel{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-carrossel-pai{
    display: flex;
    margin:20px 170px 20px;
    align-items: center;
    justify-content: space-between;
}

.swiper {
    width: 1300px;
}

.swiper-slide{
   text-align: center;
   margin-bottom: 30px;
}

.swiper-slide img{
    width: 200px;
}

.swiper-button-prev, .swiper-button-next{
    background-color: #ffffff;
    border: 1px solid #005CFF;
    border-radius: 50%;
    padding: 10px;
   align-items: center;
   display: flex;
   justify-content: center;
}



:root {
    --swiper-navigation-size: 10px !important;
}

.section-texto-descrisao{
    margin-top: 40px;
    margin-bottom: 20px;
}

.conatiner-section-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
}

.caneca-section{
    background-color: #C2C2C2;
    width: 650px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.caneca-section img{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-section{
    padding-left: 40px;    
    margin-right: 120px;       
}

.texto-section p{
    font-weight: 200;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}

#titulo-texto-section{
    font-weight: 700;
    font-size: 30px;
}

.container-segunda-section{
    display: flex;
    width: 100%;
    background-color: #DEDEDE;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Nunito Sans", sans-serif;
    height: 567px;
}

.texto-segunda-section h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #4F4F4F;
    font-size: 30px; 
    font-weight: 700;   
}

.texto-icone-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.texto-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
    font-family: "Nunito Sans", sans-serif;
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}

#img-section{
    margin-right: 100px;
    width: 450px;
    height: 520px;
    margin-left: 20px;
}

#icone-texto{
    background-color: #005CFF;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#icone-texto img{
    width: 10px;
    height: 10px;
}

.segunda-section-carrossel{
    margin-top: 60px;
}
